.git
.github
.direnv
.env
.env.*
.nix-cache
.venv
.vscode
.next
target
**/target
result
result-*
dist
**/dist
storybook-static
node_modules
**/node_modules
artifacts
**/artifacts
coverage
**/coverage
.pytest_cache
.ruff_cache
.cargo
fuzz/artifacts
fuzz/corpus
tests
docs
proofs
fstar
playwright-report
test-results
**/*.log
